[submodule "front-end/block_12/front-end/block_12/day_1/exercises/exercise-pokedex-state"]
	path = front-end/block_12/front-end/block_12/day_1/exercises/exercise-pokedex-state
	url = https://github.com/p-lacerda/exercise-pokedex-state
