body {
    font-size: 1.5rem;
    margin: 1rem;

}
h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;

}


h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

figure {
    margin: 1;
    padding: 15px 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    figure{
        margin: 15px;
        padding: 5px 0;
        display: inline-block;
        flex-flow: row wrap;
        max-width: 30rem;
        text-align: center;
    }
    main{
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
    }
    body{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1440px) {
    figure{
        margin: 10px;
        padding: 5px 0;
        display: inline-block;
        flex-flow: row wrap;
        max-width: 50rem;
        text-align: center;
    }
    main{
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
    }
    body{
        font-size: 1.35rem;
    }
}